#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #221cbe;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.newdiv {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}